@import 'variables';

body {
  background: $light-grey;
  margin: 0 auto;
}

.navBar {
	text-align: center;
	background: #fff;
	padding: 1em;
}

.navLink {
	padding-left: 1em;
	text-decoration: none;
}

.homeHeader {
	text-align: center;
}

.searchHeader {
	text-align: center;
}

.searchButton {
	background: lightblue;
	color: darkblue;
	border: none;
	border-radius: 0.5em;
	font-weight: bold;
}

.searchButton:hover {
	background: darkblue;
	color: lightblue;
}

.searchInput {
	margin-right: 2em;
}

.searchContent {
	text-align: center;
}

.voteHeader {
	text-align: center;
}







